node_modules
oldFiles
config.yaml
cookieData.json
IDS.json
json.sqlite
leaderboard.json
mafia.json
mystFetch.js
Procfile
test.js
.DS_Store
indexUpload.js
package-lock.json
index.js
bottesting.js
index 2.js
/.vscode
bottesting.js
